body {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: flex-start;*/
    height: 100vh;
    margin: 0;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-family: 'Open Sans', sans-serif;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}


input.search-bar {
    border: none;
    outline: none;
    padding: 0.3em;
    border-radius: 18px;
    color: white;
    background: #7c7c7c2b;
    font-family: inherit;
    font-size: 120%;
    width: calc(100% - 10px)
}

h1.temp{
    margin: 0;
}

#forecast-1, #forecast-2, #forecast-3, #forecast-4, #forecast-5{
    border: none;
    width: calc(100% - 12px);
    justify-content: flex-start;
    overflow: scroll;
    scrollbar-width: none;
    margin-top: 10em;



}

#forecast-cards{
    align-self: flex-end;
    display: flex;
    margin-left: 20em;

}

#map {
    width: 650px;
    height: 330px;
    border-radius: 1400px / 700px;
}

.icon{
    ;
    color:white;
}
/*#forecast1::-webkit-scrollbar {*/
/*    display:none;*/
/*}*/

